# Data Cleaning with Pandas

In [1]:
import pandas as pd

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -o <filename>`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [2]:
sales_df = pd.read_csv('data/Real Property Sales.zip')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [5]:
sales_df.head().T

,0,1,2,3,4
ExciseTaxNbr,2687551,1235111,2704079,2584094,1056831
Major,138860,664885,423943,403700,951120
Minor,110,40,50,715,900
DocumentDate,08/21/2014,07/09/1991,10/11/2014,01/04/2013,04/20/1989
SalePrice,245000,0,0,0,85000
RecordingNbr,20140828001436,199203161090,20141205000558,20130110000910,198904260448
Volume,,071,,,117
Page,,001,,,053
PlatNbr,,664885,,,951120
PlatType,,C,,,P
PlatLot,,B102,,,90
PlatBlock,,,,,
SellerName,WENKLE NOEL SMITH -TRUSTEE ...,HERRMAN JEFFREY A+PAULINE A ...,STEPHENS ANTHONY P ...,PASTORS EDWIN ...,STRATHY FLORENCE G ...
BuyerName,ALEXANDER APRIL ...,HERRMAN PAULINE A TTEE ...,STEPHENS ANTHONY P ...,PASTORS KHRISTINA ...,PORTER DONALD D+EVELYN V ...
PropertyType,3,3,3,3,3
PrincipalUse,6,0,6,6,0
SaleInstrument,3,26,15,15,2
AFForestLand,N,N,N,N,N
AFCurrentUseLand,N,N,N,N,N
AFNonProfitUse,N,N,N,N,N
AFHistoricProperty,N,N,N,N,N
SaleReason,1,18,18,11,1
PropertyClass,8,3,8,8,9
SaleWarning,,11,18 31 51,18 31 38,49

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [6]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035819 entries, 0 to 2035818
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 62.1+ MB

In [8]:
bldg_df = pd.read_csv('data/Residential Building.zip')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Another warning! Which column has index 11?

In [9]:
bldg_df.columns[11]

'ZipCode'

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

In [10]:
bldg_df.head().T

,0,1,2,3,4
Major,52205,52205,52205,52205,52205
Minor,9160,9163,9193,9311,9375
BldgNbr,1,1,1,1,1
NbrLivingUnits,1,1,1,1,1
Address,10622 SE 200TH ST 98031,19207 106TH AVE SE 98055,19647 108TH AVE SE 98055,20026 103RD PL SE 98031,19208 102ND AVE SE
BuildingNumber,10622,19207,19647,20026,19208
Fraction,,,,,
DirectionPrefix,SE,,,,
StreetName,200TH,106TH,108TH,103RD,102ND
StreetType,ST,AVE,AVE,PL,AVE
DirectionSuffix,,SE,SE,SE,SE
ZipCode,98031,98055,98055,98031,NaN
Stories,1,1,1,1,2
BldgGrade,7,7,7,8,8
BldgGradeVar,0,0,0,0,0
SqFt1stFloor,1680,1360,1140,1520,1537
SqFtHalfFloor,0,0,0,0,0
SqFt2ndFloor,0,0,0,0,2096
SqFtUpperFloor,0,0,0,0,0
SqFtUnfinFull,0,0,0,0,0
SqFtUnfinHalf,0,0,0,0,0
SqFtTotLiving,1680,1360,1140,2380,3633
SqFtTotBasement,0,0,0,990,0
SqFtFinBasement,0,0,0,860,0
FinBasementGrade,0,0,0,7,0
SqFtGarageBasement,0,0,0,130,0
SqFtGarageAttached,0,480,480,380,608
DaylightBasement,,,N,Y,N
SqFtOpenPorch,0,0,0,100,140
SqFtEnclosedPorch,0,0,0,0,0
SqFtDeck,200,0,0,0,0
HeatSystem,5,5,5,5,5
HeatSource,2,1,3,2,2
BrickStone,26,0,0,0,0
ViewUtilization,,,N,,N
Bedrooms,4,3,3,4,4
BathHalfCount,1,0,0,1,1
Bath3qtrCount,0,1,1,1,0
BathFullCount,1,1,1,1,2
FpSingleStory,1,1,0,0,1
FpMultiStory,0,0,0,1,0
FpFreestanding,0,0,1,0,0
FpAdditional,0,1,0,0,0
YrBuilt,1959,1958,1984,1987,2019
YrRenovated,0,0,0,0,0
PcntComplete,0,0,0,0,90
Obsolescence,0,0,0,0,0
PcntNetCondition,0,0,0,0,0
Condition,4,3,3,3,3
AddnlCost,0,0,0,0,0

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [11]:
bldg_df = bldg_df[['Major', 'Minor', 'SqFtTotLiving', 'ZipCode']]

In [12]:
bldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512827 entries, 0 to 512826
Data columns (total 4 columns):
Major            512827 non-null int64
Minor            512827 non-null int64
SqFtTotLiving    512827 non-null int64
ZipCode          468452 non-null object
dtypes: int64(3), object(1)
memory usage: 15.7+ MB

In [13]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

In [14]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'])

ValueError: Unable to parse string "      " at position 940671

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [4]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [15]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [16]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035819 entries, 0 to 2035818
Data columns (total 4 columns):
Major           float64
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 62.1+ MB

It worked! Let's do the same thing with the `Minor` parcel number.

In [17]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [18]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2035819 entries, 0 to 2035818
Data columns (total 4 columns):
Major           float64
Minor           float64
DocumentDate    object
SalePrice       int64
dtypes: float64(2), int64(1), object(1)
memory usage: 62.1+ MB

Now, let's try our join again.

In [19]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [20]:
sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

In [21]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1453814 entries, 0 to 1453813
Data columns (total 6 columns):
Major            1453814 non-null float64
Minor            1453814 non-null float64
DocumentDate     1453814 non-null object
SalePrice        1453814 non-null int64
SqFtTotLiving    1453814 non-null int64
ZipCode          1334823 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 77.6+ MB

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [22]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

        Major   Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
91   717370.0   350.0   12/01/1997          0           3380     NaN
92   717370.0   350.0   09/13/2004     300000           3380     NaN
93   717370.0   350.0   02/06/2006     901000           3380     NaN
110  277110.0  1923.0   02/08/2007     372500           1000     NaN
111  277110.0  1923.0   02/08/2007          0           1000     NaN

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [23]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

sales_data.head()

      Major  Minor DocumentDate  SalePrice  SqFtTotLiving ZipCode
0  138860.0  110.0   08/21/2014     245000           1490   98002
1  138860.0  110.0   06/12/1989     109300           1490   98002
2  138860.0  110.0   01/16/2005      14684           1490   98002
3  138860.0  110.0   06/08/2005          0           1490   98002
4  423943.0   50.0   10/11/2014          0            960   98092

# Your turn: Data Cleaning with Pandas

### 1. Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

### 2. Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

What's the right thing to do with missing values?

In [ ]:
# Read the error message and decide how to fix it.
# Note: using errors='coerce' is the *wrong* choice in this case.
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

### 3. Add a column for PricePerSqFt

### 4. Subset the data to 2019 sales only.

We can assume that the DocumentDate is approximately the sale date.

### 5. Subset the data to zip codes within the City of Seattle.

You'll need to find a list of Seattle zip codes!

### 6. What is the mean price per square foot for a house sold in Seattle in 2019?

Don't just type the answer. Type code that generates the answer as output!